<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bin2Dec</title>
</head>
<body>
  <div class="container">
    <h1>Binary to decimal conversion</h1>
    <div class="input">
      <label for="input"> Ingrese numero binario</label>
      <input type="text" [formControl]="numero" placeholder="Numero binario" id="input">
      <input [disabled]="numero.invalid" type="button" value="Convert" (click)="binarioToDecimal(numero.value|| '')" id="button">
      <p *ngIf="numero.errors && numero.dirty">
        <small *ngIf="numero.hasError('maxlength')">Debe ingresar un maximo de 8 caracteres</small><br>
        <small *ngIf="numero.hasError('pattern')">Debe ingresar max 1 o 0</small>
      </p>
    </div>
    <div class="result">
      <label for="result">Resultado de binario a decimal</label>
      <input type="text" id="result" disabled [value]="resultadoFinal">
    </div>
  </div>
</body>
</html>